# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
.metro-health-check*

# Android
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
*.iml
*.keystore
!debug.keystore
.cxx/

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.ipa
*.hmap
*.moved-aside
DerivedData
xcuserdata

# Testing
coverage/

# VS Code
.vscode/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# JS Bundle
*.jsbundle

# CocoaPods
/vendor/bundle/
